Q.1
   Comment code in Python is a way of adding explanatory notes to the code to make it more readable and understandable. Comment code is ignored by the Python interpreter and does not affect the execution of the program. There are three types of comment code in Python:

    1.  Single line comments: These are comments that start with a hash mark (#) and end at the end of the line. They are used to explain a single line of code or add a brief note. For example:

       #This is a single line comment
       print("Hello, world!") # This prints a message

    2.  Multiline comments: These are comments that span multiple lines and are enclosed by triple quotes . They are used to explain a block of code or add a longer description. For example:
        
        """
        This is a multiline comment
        that can span several lines
        """
        print("This is a program") # This is a single line comment

    3.  Docstring comments: These are special comments that are used to document modules, classes, functions, and methods. They are also enclosed by triple quotes, but they must be the first statement in the scope they document. They can be accessed by using the __doc__ attribute or the help() function.For example:
                                                                              
    def add(x, y):
    """This is a docstring comment that describes the function.

    It takes two parameters x and y and returns their sum.
    """
    return x + y
                                                                              

    print(add.__doc__) # This prints the docstring comment
    help(add) # This shows the documentation for the function

Q.2
Variables in Python are names that refer to values stored in memory. They can be used to store and manipulate data in a program. To declare and assign values to variables in Python, you simply use the assignment operator (=) followed by the value you want to assign. For example:

In [2]:
name="mahima"
age=21
weight=45.78

Q.3 To convert one data type to another in Python, you can use casting functions that take a value as an argument and return a new value of the desired type. For example, you can use int() to convert a value to an integer, float() to convert a value to a floating-point number, str() to convert a value to a string, and bool() to convert a value to a boolean. For example:

In [ ]:
s="ram"
l=[1,2,3,4,"kitty",True]
l+s #showing error bcz l and s have differnt data type so we will do type casting to solve this problem.

TypeError: ignored

In [ ]:
l+list(s) #here through type castting, the error can be resolved.

[1, 2, 3, 4, 'kitty', True, 'r', 'a', 'm']

Q.4 To write and execute a Python script from the command line, you need to follow these steps:

First, you need to create a text file that contains your Python code. You can use any text editor you like, such as Notepad, Sublime Text, VS Code, etc. You should save your file with a .py extension, such as myscript.py.

Second, you need to open a command-line shell, such as cmd, PowerShell, or Bash. You can do this by pressing Windows + R and typing cmd or PowerShell, or by opening the Terminal app on Mac or Linux.

Third, you need to navigate to the directory where your script is located. You can use the cd command to change directories, and the dir or ls command to list the files in the current directory.

For example, if your script is in C:\Users\Mahima\Documents\Python, you can type cd C:\Users\Mahima\Documents\Python to go there.

Fourth, you need to run your script using the python or python3 command, followed by the name of your script.

For example, if your script is called myscript.py, you can type python myscript.py or python3 myscript.py to execute it. You should see the output of your script in the command-line window.

In [5]:
#Q.5 We can use the colon (:) operator to specify the start index, stop index, and step of the slice respectively.
my_list=[1,2,3,4,5]
my_list[1:3:1]  #  slicing my_list [1,2,3,4,5] to get the sub list [2,3]

[2, 3]

Q.6 Complex number in mathematics is a combination of real and imaginary numbers.A complex number in mathematics is a number that can be written as a + bi, where a and b are real numbers and i is the imaginary unit that satisfies i^2 = -1.In Python, you can create and manipulate complex numbers using the built-in complex data type. You can write a complex number literal using the syntax a + bj, where a and b are any numeric values. For example:

In [ ]:
c=5+3j  # This is a complex number
print(type(c)) # This prints <class 'complex'>
print(c.real)  # This prints real part of complex no
print(c.imag)  # This prints imaginary part of complex no

<class 'complex'>
5.0
3.0

Q.7 To declare the variable age, it should not start with a number.
   Age ,age and AGE is treated differently.It can be declared by alpha numeric characters and underscore. For Example

In [ ]:
# age can be declared in the following ways...
_age=25
print(_age)
age0=25
print(age0)
a_g_e=25
print(a_g_e)

25
25
25

In [ ]:
print(_Age) # _Age is not same as _age ie it is case sensitive.

NameError: ignored

In [ ]:
#Q.8
price=9.99 # Declaring a variable price and assigning the value to it
type(price)# price belongs to float data type.

float

In [ ]:
#Q.9
name="mahima shukla" # creating and assigning value to variable name
print(name)          # printing value of variable name using print() function

mahima shukla

In [ ]:
#Q.10
s="Hello, World!" # string s is given
s[6:12]           # slicing the string s

' World'

In [ ]:
#Q.11
is_student=True      # assigning boolean value to variable is_student
if is_student==True: # applying  condition if its True, if part will execute otherwise else prt will execute.
    print("you are currently a student")
else:
    print("you are not currently a student")

you are currently a student